// Colors
$light-dark-color: #222222;
$white-color: #fff; 

.container {
    margin-left: 25%;
}

.video-container {
    padding-top: .5rem;
    padding-inline: 1rem;
    width: 20rem;
    height: 35rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $light-dark-color;
    border-radius: .5rem;

    .video-buttons {
        display: flex;
        justify-content: space-between;

        i {
            font-size: 1.4rem;
        }
    }

    .video-channel {
        margin-bottom: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
            font-size: .6rem !important;
        }

        span {
            font-weight: 700;
            font-size: .9rem;
        }

        img {
            width: 2.2rem;
            height: auto;
        }

        .info-channel {
            display: flex;
            align-items: flex-end;
            gap: .5rem;
        }
    }
}

.video-actions {
    padding-top: 5.2rem;
    width: 3.9rem;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .actions-button {
        p {
            font-size: .9rem;
            text-align: center;
            word-wrap: break-word;
        }

        .short-audio {
            width: 2.6rem;
            height: 2.6rem;
            border: solid 1px $white-color;
            border-radius: .375rem;
            position: absolute;
        }

        img {
            height: 2.6rem;
            width: auto;
            position: relative;
        }
    }
}