* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

// Cores
$primary-color: #ff0000;
$secondary-color: #a70000;
$background-color: #000;
$light-dark-color: #222222;
$dark-color: #353535;
$scroll-color: #797979;
$white-color: #fff;

// Variables
$transition: all .2s linear;

// Global Settings
body {
    color: $white-color;
    background-color: $background-color;
    overflow-x: hidden;
}

header {
    margin: 0;
    padding-inline: 2rem;
    width: 100vw;
    height: fit-content;
}

main {
    display: flex;
}

h1, h2, h3, h4, h5, p {
    margin: 0;
}

a {
    color: $white-color;
    text-decoration: none;
    outline: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; 
}

span {
    font-size: 1.1rem
}

button {
    border: none;
    outline: none;
}

input {
    color: $white-color;
}

.btn-primary {
    height: 2.2rem;
    width: 7rem;
    padding: 0;
    background-color: $white-color;
    color: $dark-color;
    border: none;
    border-radius: 50rem;
    transition: $transition;
}

.btn-primary:hover {
    color: $dark-color;
    background-color: $scroll-color;
    border: none;
}

.btn-secondary {
    width: 2.8rem;
    height: 2.8rem;
    font-size: 1.4rem;
    text-align: center;
    border: none;
    border-radius: 50rem;
    background-color: $light-dark-color;
    transition: $transition;
}

.btn-secondary:hover {
    background-color: $scroll-color;
}

.hidden {
    display: none;
}

// Scrollbar
::-webkit-scrollbar {
    width: 8px;
    background: $background-color;
}

::-webkit-scrollbar-thumb {
    border-radius: 5rem;
    background: $scroll-color;
}

// Header
.open-menu {
    background-color: transparent;
    font-size: 1.6rem;
    color: $white-color;
}

.logo-youtube svg {
    width: 6rem;
    height: auto;
}

    // Search
.search {
    input {
        margin: 0;
        padding-left: 1rem;
        width: 30rem;
        height: 2.4rem;
        background-color: transparent;
        outline: none;
        border: 2px solid $light-dark-color;
        border-radius: 2rem 0 0 2rem;
    }

    .bi-keyboard {
        left: -2rem;
        position: relative;
        z-index: 1;
    }

    .btn-search {
        left: -1rem;
        width: 4rem;
        height: 2.4rem;
        color: $white-color;
        background-color: $light-dark-color;
        border: none;
        border-radius: 0 2rem 2rem 0;
        position: relative;
        transition: $transition;

        &:hover {
            background-color: $dark-color;
        }
    }
}

.search-voice {
    .btn-search-voice {
        width: 2.4rem;
        height: 2.4rem;
        color: $white-color;
        background-color: $light-dark-color;
        border: none;
        border-radius: 100%;
        transition: $transition;

        &:hover {
            background-color: $dark-color;
        }
    }
}

    // Perfil Area
.btn-create,
.bi-bell,
.open-perfil {
    font-size: 1.4rem;
}

// Sidebar
.sidebar {
    width: 16rem;
    height: 90vh;
    overflow: hidden;
    background-color: $background-color;
    position: fixed;
    transition: all .2s linear;

    .nav-link {
        padding-left: 1rem;
        width: 100%;
    }

    &:hover {
        overflow: scroll;
        overflow-x: hidden;
    }

    .navbar-nav {
        display: flex;
        flex-direction: column;
    }

    .nav-item {
        display: flex;
        align-items: center;
        gap: 1rem;

        i {
            font-size: 1.4rem;
        }

        &:hover {
            width: 100%;
            background-color: $light-dark-color;
            border-radius: .5rem;
            cursor: pointer;
        }
    }

    .active {
        width: 100%;
        background-color: $light-dark-color;
        border-radius: .5rem;
    }

    .useful-links {
        padding-left: 2rem;

        a {
            font-size: .9rem;
            opacity: 60%;
        }

        span {
            font-size: .75rem;
            opacity: 60%
        }
    }
}

//Short sidebar
.short-sidebar {
    width: 5rem;
    height: 100vh;
    background-color: $background-color;
    position: fixed;
    transition: all .2s linear;

    i {
        padding-left: 1rem;
        font-size: 1.5rem;
    }

    a {
        font-size: .8rem;
    }
}

// Cards
.card-container {
    margin-left: -.5rem;
    margin-bottom: 1.5rem;
    max-width: 20rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    h4 {
        max-width: 80%;
        font-size: 1rem;
    }

    h5, span {
        font-size: .8rem;
        opacity: 60%;
        transition: $transition;
    }

    .card-image img {
        left: -.1%;
        height: auto;
        width: 18rem;
        position: absolute;
    }
    
    .card-image {
        margin-bottom: 1rem;
        height: 10rem;
        width: 18rem;
        position: relative;
        overflow: hidden;
        border-radius: .5rem !important;
    }
    
    .card-channel-image img {
        width: 100%;
        border-radius: 100%;
    }

    .name-channel h5:hover {
        opacity: 100%;
    }
}

.container {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    gap: 0;
}

// Open and Close Classes
.open {
    margin-left: 18rem;
}

.close {
    margin-left: 8rem;
}