<div class="sidebar" *ngIf="hidden">
    <ul class="navbar-nav">
        <li class="nav-item active">
            <i class="bi bi-house-door-fill"></i>
            <a class="nav-link" aria-current="page" href="#">Início</a>
        </li>
        <li class="nav-item">
            <i class="bi bi-play"></i>
            <a class="nav-link" href="#">Shorts</a>
        </li>
        <li class="nav-item">
            <i class="bi bi-play-btn"></i>
            <a class="nav-link" href="#">Inscrições</a>
        </li>
    </ul>
    <hr>
    <ul class="navbar-nav">
        <li class="nav-item">
            <i class="bi bi-collection-play"></i>
            <a class="nav-link" href="#">Biblioteca</a>
        </li>
        <li class="nav-item">
            <i class="bi bi-clock-history"></i>
            <a class="nav-link" href="#">Histórico</a>
        </li>
        <li class="nav-item">
            <i class="bi bi-camera-reels"></i>
            <a class="nav-link" href="#">Seus vídeos</a>
        </li>
        <li class="nav-item">
            <i class="bi bi-clock"></i>
            <a class="nav-link" href="#">Assistir mais tarde</a>
        </li>
        <li class="nav-item">
            <i class="bi bi-hand-thumbs-up"></i>
            <a class="nav-link" href="#">Vídeos marcados c...</a>
        </li>
        <li class="nav-item">
            <i class="bi bi-chevron-compact-down"></i>
            <a class="nav-link" href="#">Mostrar mais</a>
        </li>
    </ul>
    <hr>
    <ul class="navbar-nav">
        <span class="ps-3 pb-2">Inscrições</span>
        <li class="nav-item">
            <i class="bi bi-person-circle"></i>
            <a class="nav-link" href="#">Canal 1</a>
        </li>
        <li class="nav-item">
            <i class="bi bi-person-circle"></i>
            <a class="nav-link" href="#">Canal 2</a>
        </li>
        <li class="nav-item">
            <i class="bi bi-person-circle"></i>
            <a class="nav-link" href="#">Canal 3</a>
        </li>
        <li class="nav-item">
            <i class="bi bi-person-circle"></i>
            <a class="nav-link" href="#">Canal 4</a>
        </li>
        <li class="nav-item">
            <i class="bi bi-person-circle"></i>
            <a class="nav-link" href="#">Canal 5</a>
        </li>
        <li class="nav-item">
            <i class="bi bi-person-circle"></i>
            <a class="nav-link" href="#">Canal 6</a>
        </li>
        <li class="nav-item">
            <i class="bi bi-person-circle"></i>
            <a class="nav-link" href="#">Canal 7</a>
        </li>
        <li class="nav-item">
            <i class="bi bi-chevron-compact-down"></i>
            <a class="nav-link" href="#">Mostrar mais</a>
        </li>
    </ul>
    <hr>
    <ul class="navbar-nav">
        <span class="ps-3 pb-2">Explorar</span>
        <li class="nav-item">
            <i class="bi bi-fire"></i>
            <a class="nav-link" href="#">Em alta</a>
        </li>
        <li class="nav-item">
            <i class="bi bi-music-note"></i>
            <a class="nav-link" href="#">Música</a>
        </li>
        <li class="nav-item">
            <i class="bi bi-film"></i>
            <a class="nav-link" href="#">Filmes</a>
        </li>
        <li class="nav-item">
            <i class="bi bi-cast"></i>
            <a class="nav-link" href="#">Ao vivo</a>
        </li>
        <li class="nav-item">
            <i class="bi bi-controller"></i>
            <a class="nav-link" href="#">Jogos</a>
        </li>
        <li class="nav-item">
            <i class="bi bi-newspaper"></i>
            <a class="nav-link" href="#">Notícias</a>
        </li>
        <li class="nav-item">
            <i class="bi bi-trophy"></i>
            <a class="nav-link" href="#">Esportes</a>
        </li>
        <li class="nav-item">
            <i class="bi bi-balloon"></i>
            <a class="nav-link" href="#">Aprender</a>
        </li>
    </ul>
    <hr>
    <ul class="navbar-nav">
        <span class="ps-3 pb-2">Mais do YouTube</span>
        <li class="nav-item">
            <i class="bi bi-play-btn-fill"></i>
            <a class="nav-link" href="#">YouTube Premium</a>
        </li>
        <li class="nav-item">
            <i class="bi bi-play-btn-fill"></i>
            <a class="nav-link" href="#">Estúdio de Criação</a>
        </li>
        <li class="nav-item">
            <i class="bi bi-play-btn-fill"></i>
            <a class="nav-link" href="#">YouTube Music</a>
        </li>
        <li class="nav-item">
            <i class="bi bi-play-btn-fill"></i>
            <a class="nav-link" href="#">YouTube Kids</a>
        </li>
        <li class="nav-item">
            <i class="bi bi-play-btn-fill"></i>
            <a class="nav-link" href="#">YouTube TV</a>
        </li>
    </ul>
    <hr>
    <ul class="navbar-nav">
        <li class="nav-item">
            <i class="bi bi-gear"></i>
            <a class="nav-link" href="#">Configurações</a>
        </li>
        <li class="nav-item">
            <i class="bi bi-flag"></i>
            <a class="nav-link" href="#">Histórico de denún...</a>
        </li>
        <li class="nav-item">
            <i class="bi bi-question-circle"></i>
            <a class="nav-link" href="#">Ajuda</a>
        </li>
        <li class="nav-item">
            <i class="bi bi-info-square"></i>
            <a class="nav-link" href="#">Enviar feedback</a>
        </li>
    </ul>
    <hr>
    <div class="useful-links">
        <div class="row g-2">
            <div class="col-auto">
                <a href="#">Sobre</a>
            </div>
            <div class="col-auto">
                <a href="#">Imprensa</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <a href="#">Direitos autoriais</a>
            </div>
            <div class="col-12">
                <a href="#">Entre em contato</a>
            </div>
            <div class="col-12">
                <a href="#">Criadores de conteúdo</a>
            </div>
        </div>
        <div class="row g-2">
            <div class="col-auto">
                <a href="#">Publicidade</a>
            </div>
            <div class="col-auto">
                <a href="#">Desenvolvedores</a>
            </div>
        </div>
        <div class="row mt-2 g-2">
            <div class="col-auto">
                <a href="#">Termos</a>
            </div>
            <div class="col-auto">
                <a href="#">Privacidade</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
               <a href="#">Política e segurança</a> 
            </div>
            <div class="col-12">
               <a href="#">Como funciona o YouTube</a> 
            </div>
            <div class="col-12">
               <a href="#">Testar os novos recursos</a> 
            </div>
        </div>
        <div class="row mt-3">
            <span class="copyright">&copy; 2023 Google LLC</span>
        </div>
    </div>
</div>
<div class="short-sidebar" *ngIf="!hidden">
    <ul class="navbar-nav row g-3">
        <li class="nav-item d-flex flex-column align-items-center">
            <i class="bi bi-house-door-fill"></i>
            <a href="#">Início</a>
        </li>
        <li class="nav-item d-flex flex-column align-items-center">
            <i class="bi bi-play"></i>
            <a href="#">Shorts</a>
        </li>
        <li class="nav-item d-flex flex-column align-items-center">
            <i class="bi bi-play-btn"></i>
            <a href="#">Inscrições</a>
        </li>
        <li class="nav-item d-flex flex-column align-items-center">
            <i class="bi bi-collection-play"></i>
            <a href="#">Bibilioteca</a>
        </li>
    </ul>
</div>