<div class="sidebar" *ngIf="hidden | async">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" [routerLinkActiveOptions]="{exact: true}" [routerLinkActive]="['active']" routerLink="/"><i class="bi bi-house-door-fill"></i> Início</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLinkActive]="['active']" routerLink="/shorts"><i class="bi bi-play"></i> Shorts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLinkActive]="['active']" routerLink="/subscriptions"><i class="bi bi-play-btn"></i> Inscrições</a>
        </li>
    </ul>
    <hr>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="bi bi-collection-play"></i> Biblioteca</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="bi bi-clock-history"></i> Histórico</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="bi bi-camera-reels"></i> Seus vídeos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="bi bi-clock"></i> Assistir mais tarde</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tooltip" data-placement="right" title="Vídeos marcados com gostei" href="#"><i class="bi bi-hand-thumbs-up"></i> Vídeos marcados com gostei</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="bi bi-chevron-compact-down"></i> Mostrar mais</a>
        </li>
    </ul>
    <hr>
    <ul class="navbar-nav">
        <span class="ps-3 pb-2">Inscrições</span>
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="bi bi-person-circle"></i> Canal 1</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="bi bi-person-circle"></i> Canal 2</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="bi bi-person-circle"></i> Canal 3</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="bi bi-person-circle"></i> Canal 4</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="bi bi-person-circle"></i> Canal 5</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="bi bi-person-circle"></i> Canal 6</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="bi bi-person-circle"></i> Canal 7</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="bi bi-chevron-compact-down"></i> Mostrar mais</a>
        </li>
    </ul>
    <hr>
    <ul class="navbar-nav">
        <span class="ps-3 pb-2">Explorar</span>
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="bi bi-fire"></i> Em alta</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="bi bi-music-note"></i> Música</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="bi bi-film"></i> Filmes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="bi bi-cast"></i> Ao vivo</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="bi bi-controller"></i> Jogos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="bi bi-newspaper"></i> Notícias</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"> <i class="bi bi-trophy"></i>Esportes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="bi bi-balloon"></i> Aprender</a>
        </li>
    </ul>
    <hr>
    <ul class="navbar-nav">
        <span class="ps-3 pb-2">Mais do YouTube</span>
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="bi bi-play-btn-fill"></i> YouTube Premium</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"> <i class="bi bi-play-btn-fill"></i>Estúdio de Criação</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="bi bi-play-btn-fill"></i> YouTube Music</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="bi bi-play-btn-fill"></i> YouTube Kids</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="bi bi-play-btn-fill"></i> YouTube TV</a>
        </li>
    </ul>
    <hr>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="bi bi-gear"></i> Configurações</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tooltip" data-placement="right" title="Histórico de denúncias" href="#"><i class="bi bi-flag"></i> Histórico de denúncias</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="bi bi-question-circle"></i> Ajuda</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="bi bi-info-square"></i> Enviar feedback</a>
        </li>
    </ul>
    <hr>
    <div class="useful-links">
        <div class="row g-2">
            <div class="col-auto">
                <a href="#">Sobre</a>
            </div>
            <div class="col-auto">
                <a href="#">Imprensa</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <a href="#">Direitos autoriais</a>
            </div>
            <div class="col-12">
                <a href="#">Entre em contato</a>
            </div>
            <div class="col-12">
                <a href="#">Criadores de conteúdo</a>
            </div>
        </div>
        <div class="row g-2">
            <div class="col-auto">
                <a href="#">Publicidade</a>
            </div>
            <div class="col-auto">
                <a href="#">Desenvolvedores</a>
            </div>
        </div>
        <div class="row mt-2 g-2">
            <div class="col-auto">
                <a href="#">Termos</a>
            </div>
            <div class="col-auto">
                <a href="#">Privacidade</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
               <a href="#">Política e segurança</a> 
            </div>
            <div class="col-12">
               <a href="#">Como funciona o YouTube</a> 
            </div>
            <div class="col-12">
               <a href="#">Testar os novos recursos</a> 
            </div>
        </div>
        <div class="row mt-3 mb-2">
            <span class="copyright">&copy; 2023 Google LLC</span>
        </div>
    </div>
</div>
<div class="short-sidebar" *ngIf="!(hidden | async)">
    <ul class="navbar-nav row g-3">
        <li class="nav-item d-flex flex-column align-items-center">
            <i class="bi bi-house-door-fill"></i>
            <a href="#">Início</a>
        </li>
        <li class="nav-item d-flex flex-column align-items-center">
            <i class="bi bi-play"></i>
            <a href="#">Shorts</a>
        </li>
        <li class="nav-item d-flex flex-column align-items-center">
            <i class="bi bi-play-btn"></i>
            <a href="#">Inscrições</a>
        </li>
        <li class="nav-item d-flex flex-column align-items-center">
            <i class="bi bi-collection-play"></i>
            <a href="#">Bibilioteca</a>
        </li>
    </ul>
</div>